torch==2.1.0
transformers==4.37.2
runpod
unsloth @ git+https://github.com/unslothai/unsloth.git
peft==0.8.2
fastapi==0.95.0
uvicorn==0.22.0
typing_extensions>=4.5.0
accelerate==0.26.1
sentencepiece
protobuf
bitsandbytes-cuda118
trl